.form-text {
  font-size: 0.929em;
  &:hover, &:focus {}
}

input{
  max-width: 100%;
}

input, button, select, textarea {
  background: #fff;
  border: 2px solid $light-gray;
  padding: 7px 9px;
  &:focus {
    border-color: $light-gray-4;
  }
}

details{
  border: 2px solid $light-gray;
}

legend {
  font-size: $fontsize-16;
  a {
    color: $black;
    &:hover, &:focus {
      color: $vivid-red;
    }
  }
}

label {
  font-weight: 100;
}



iframe, video {
  max-width: 100%;
  display: block;
}

.field{
  p{
    &:last-child{
      margin-bottom: 0;
    }
  }

}

.field-label-inline{
  .field-label,
  .field-items{
    float: none;
    display: inline-block;
  }
}
.menu-item:hover{
  background: none;
}

.menu-item--expanded{
  background: none;
}
