/* COLORS */
/* skins */
/* blue */
/* orange */
/* font size */
/* COLORS */
/* skins */
/* blue */
/* orange */
/* font size */
/* Transition */
/* line 4, ../sass/page-rtl.scss */
.views-view-grid .views-col {
  float: right;
}

/* headline */
/* line 10, ../sass/page-rtl.scss */
.headline .block {
  float: left;
  margin-left: 0;
  margin-right: 10px;
}
/* line 14, ../sass/page-rtl.scss */
.headline .block:first-child {
  float: right;
  margin-right: 0;
}
/* line 20, ../sass/page-rtl.scss */
.headline .menu li {
  border-left: 1px solid #252525;
  border-right: none;
}

/* socials */
/* line 28, ../sass/page-rtl.scss */
.social-list {
  padding-right: 0;
}
/* line 30, ../sass/page-rtl.scss */
.social-list li {
  margin-left: 0;
  margin-right: 5px;
}

/* logo */
/* line 37, ../sass/page-rtl.scss */
#logo {
  float: right;
}

@media (min-width: 992px) {
  /* menu */
  /* line 43, ../sass/page-rtl.scss */
  #main-menu-inner {
    float: left;
  }

  /* line 48, ../sass/page-rtl.scss */
  .tb-megamenu .nav > li {
    float: right;
    margin-left: 0;
    margin-right: 5px;
  }
  /* line 54, ../sass/page-rtl.scss */
  .tb-megamenu .nav > li.dropdown > .dropdown-toggle {
    padding-right: 20px;
    padding-left: 30px;
  }
  /* line 57, ../sass/page-rtl.scss */
  .tb-megamenu .nav > li.dropdown > .dropdown-toggle .caret {
    right: auto;
    left: 11px;
  }
  /* line 65, ../sass/page-rtl.scss */
  .tb-megamenu .dropdown-submenu > a.dropdown-toggle {
    padding-left: 15px !important;
    padding-right: 0 !important;
  }
  /* line 68, ../sass/page-rtl.scss */
  .tb-megamenu .dropdown-submenu > a.dropdown-toggle:before {
    content: "\f104";
    left: 3px;
    right: auto;
  }
  /* line 74, ../sass/page-rtl.scss */
  .tb-megamenu .dropdown-submenu > .dropdown-menu {
    left: auto;
    right: 100%;
  }
}
/* line 83, ../sass/page-rtl.scss */
#secondary-menu .block-inner {
  float: right;
}
/* line 86, ../sass/page-rtl.scss */
#secondary-menu ul.menu {
  padding-right: 0;
}
/* line 88, ../sass/page-rtl.scss */
#secondary-menu ul.menu > li {
  float: right;
}
/* line 90, ../sass/page-rtl.scss */
#secondary-menu ul.menu > li:first-child {
  border-left: none;
}
/* line 94, ../sass/page-rtl.scss */
#secondary-menu ul.menu > li.last {
  border-left: 1px solid #dedede;
}
/* line 97, ../sass/page-rtl.scss */
#secondary-menu ul.menu .expanded > a {
  padding-right: 20px;
  padding-left: 30px;
}
/* line 100, ../sass/page-rtl.scss */
#secondary-menu ul.menu .expanded > a:before {
  right: auto;
  left: 11px;
}
/* line 105, ../sass/page-rtl.scss */
#secondary-menu ul.menu ul.menu {
  right: 0;
  left: auto;
}
/* line 108, ../sass/page-rtl.scss */
#secondary-menu ul.menu ul.menu .expanded > a:before {
  content: "\f104";
  left: 3px;
  right: auto;
}
/* line 113, ../sass/page-rtl.scss */
#secondary-menu ul.menu ul.menu ul.menu {
  left: auto;
  right: 160px;
}

/* line 121, ../sass/page-rtl.scss */
.region-header {
  float: left;
}

/* line 125, ../sass/page-rtl.scss */
#block-search-form {
  margin-left: 0;
  margin-right: 5px;
}
/* line 128, ../sass/page-rtl.scss */
#block-search-form #search-block-form {
  right: auto;
  left: 0;
}
/* line 131, ../sass/page-rtl.scss */
#block-search-form #search-block-form .form-text {
  float: right;
}

/* page */
/* line 139, ../sass/page-rtl.scss */
.field-name-field-tags .field-item, .field-type-taxonomy-term-reference .field-item {
  margin-right: 0;
  margin-left: 1px;
}

/* line 146, ../sass/page-rtl.scss */
.node .links, .node ul.links.inline {
  padding-right: 0;
}
/* line 148, ../sass/page-rtl.scss */
.node .links li, .node ul.links.inline li {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
/* line 152, ../sass/page-rtl.scss */
.node .links li:first-child, .node ul.links.inline li:first-child {
  margin-left: 5px;
}

/* comment */
/* line 161, ../sass/page-rtl.scss */
.comment .user-picture {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* back to top */
/* line 169, ../sass/page-rtl.scss */
.btn-btt {
  right: auto;
  left: 30px;
}

/* title */
/* line 177, ../sass/page-rtl.scss */
.main-title .container h1 {
  float: right;
}

/* line 184, ../sass/page-rtl.scss */
#header button.btn-primary {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}

/* line 191, ../sass/page-rtl.scss */
#breadcrumb {
  float: left;
}
/* line 193, ../sass/page-rtl.scss */
#breadcrumb h2 {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/* line 200, ../sass/page-rtl.scss */
.breadcrumb {
  float: right;
}
/* line 202, ../sass/page-rtl.scss */
.breadcrumb a {
  display: inline-block;
}

/* line 207, ../sass/page-rtl.scss */
.form-submit {
  margin-left: 10px;
  margin-right: 0;
}

/* sidebar */
/* line 215, ../sass/page-rtl.scss */
.sidebar .item-list ul {
  padding-right: 0;
}
/* line 217, ../sass/page-rtl.scss */
.sidebar .item-list ul li {
  padding-right: 10px;
  padding-left: 0;
  margin-right: 0;
}
/* line 221, ../sass/page-rtl.scss */
.sidebar .item-list ul li:before {
  left: auto;
  right: 0;
}

/* line 230, ../sass/page-rtl.scss */
.tagclouds-term {
  margin-right: 0;
  margin-left: 1px;
}

/* line 236, ../sass/page-rtl.scss */
.trending-posts .views-field-field-image {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/* line 243, ../sass/page-rtl.scss */
ul.primary {
  padding-right: 0;
}
/* line 245, ../sass/page-rtl.scss */
ul.primary li {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}

/* line 253, ../sass/page-rtl.scss */
.action-links li {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}

/* line 261, ../sass/page-rtl.scss */
.page-poll #content .content > ul li {
  padding-left: 0;
  padding-right: 15px;
}
/* line 264, ../sass/page-rtl.scss */
.page-poll #content .content > ul li:before {
  right: 0;
  left: auto;
}
/* line 268, ../sass/page-rtl.scss */
.page-poll #content .content > ul li a {
  display: inline-block;
}

/* line 275, ../sass/page-rtl.scss */
.change-skin-menu-wrapper ul {
  padding-right: 0;
}
/* line 278, ../sass/page-rtl.scss */
.change-skin-menu-wrapper li {
  float: right;
  margin-right: 0;
  margin-left: 3px;
}

/* login */
/* line 287, ../sass/page-rtl.scss */
#user-login .description, #user-register-form .description {
  padding-left: 0;
  padding-right: 115px;
}
/* line 291, ../sass/page-rtl.scss */
#user-login .form-actions, #user-register-form .form-actions {
  padding-left: 0;
  padding-right: 115px;
}

/* line 298, ../sass/page-rtl.scss */
#user-pass .description {
  padding-right: 215px;
  padding-left: 0;
}
/* line 302, ../sass/page-rtl.scss */
#user-pass .form-actions {
  padding-right: 215px;
  padding-left: 0;
}

/* line 308, ../sass/page-rtl.scss */
html.js fieldset.collapsible .fieldset-legend {
  background-position: 100% 75%;
}

/* line 312, ../sass/page-rtl.scss */
html.js fieldset.collapsed .fieldset-legend {
  background-position: 100% 50%;
}

/* responsive */
@media (max-width: 991px) {
  /* --- Mobile menu --- */
  /* line 320, ../sass/page-rtl.scss */
  .html #page {
    left: 0;
    right: auto;
  }
  /* line 323, ../sass/page-rtl.scss */
  .html #page.toggled {
    left: 250px;
    right: auto;
  }
  /* line 326, ../sass/page-rtl.scss */
  .html #page.toggled #main-menu-inner {
    left: 0;
    right: auto;
  }
  /* line 332, ../sass/page-rtl.scss */
  #page .overlay {
    left: auto;
    right: 0;
  }
  /* line 336, ../sass/page-rtl.scss */
  #page #main-menu-inner {
    left: -250px;
    right: auto;
  }
  /* line 339, ../sass/page-rtl.scss */
  #page #main-menu-inner ul.menu {
    padding-right: 0;
  }
  /* line 341, ../sass/page-rtl.scss */
  #page #main-menu-inner ul.menu > li {
    margin-right: 0;
    padding-left: 0;
  }
  /* line 344, ../sass/page-rtl.scss */
  #page #main-menu-inner ul.menu > li ul {
    padding: 5px 30px 15px 0;
  }
  /* line 347, ../sass/page-rtl.scss */
  #page #main-menu-inner ul.menu > li ul li ul {
    padding-left: 0;
    padding-right: 20px;
  }
  /* line 354, ../sass/page-rtl.scss */
  #page #main-menu-inner ul.menu .expanded > a:before {
    left: 10px;
    right: auto;
  }
  /* line 364, ../sass/page-rtl.scss */
  #page .tb-megamenu .nav li.dropdown > .dropdown-toggle .caret {
    left: 10px;
    right: auto;
  }
  /* line 371, ../sass/page-rtl.scss */
  #page .tb-megamenu .row-fluid [class*="span"] {
    margin-right: 0;
  }
  /* line 374, ../sass/page-rtl.scss */
  #page .tb-megamenu .mega-inner {
    padding: 10px 30px 10px 0 !important;
  }
  /* line 378, ../sass/page-rtl.scss */
  #page #secondary-menu {
    left: auto;
    right: 0;
  }
  /* line 381, ../sass/page-rtl.scss */
  #page #secondary-menu ul.menu > li.last {
    border-left: none;
  }

  /* End Mobile menu */
}
@media (min-width: 768px) and (max-width: 992px) {
  /* line 391, ../sass/page-rtl.scss */
  #page #secondary-menu ul.menu > li.last {
    border-left: none;
  }
  /* line 394, ../sass/page-rtl.scss */
  #page #header .secondary-menu-button.navbar-toggle {
    float: right;
    margin-right: 0;
    margin-left: 5px;
  }
  /* line 399, ../sass/page-rtl.scss */
  #page .region-header .navbar-toggle {
    float: right;
  }
}
@media (max-width: 767px) {
  /* line 407, ../sass/page-rtl.scss */
  #page #header .secondary-menu-button.navbar-toggle {
    float: right;
    margin-left: 5px;
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  /* login */
  /* line 418, ../sass/page-rtl.scss */
  #user-login .description, #user-register-form .description {
    padding-right: 0;
  }
  /* line 421, ../sass/page-rtl.scss */
  #user-login .form-actions, #user-register-form .form-actions {
    padding-right: 0;
  }

  /* line 426, ../sass/page-rtl.scss */
  #user-pass .description {
    padding-right: 0;
  }
  /* line 429, ../sass/page-rtl.scss */
  #user-pass .form-actions {
    padding-right: 0;
  }
}
@media (max-width: 360px) {
  /* search form */
  /* line 437, ../sass/page-rtl.scss */
  #block-search-form #search-block-form {
    width: 285px;
  }
  /* line 439, ../sass/page-rtl.scss */
  #block-search-form #search-block-form .form-text {
    width: 174px;
  }
}
