.node--type-article {

  &.node--view-mode-teaser {
    border-top: 4px solid $color-drupal;
    transition: $transition-all;

    &:hover {
      border-color: $color-complementary;
      box-shadow: 0 0 10px -4px #999999;
    }

    .field--name-body {
      margin-bottom: 20px;
    }
  }

  &.node--view-mode-full {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;

    @include bp(1200) {

    }

    .field--name-body {
    	margin-bottom: 60px;

      p img {
        display: block;
        margin: 0 auto;
        padding-bottom: 1em;
        padding-top: 1em;
      }
    }

    h2 {
      margin-top: 1.8em;
    }

    pre {
      margin-bottom: 2.2em;
      margin-top: 2.2em;

      @include bp(800) {
        margin-left: -50px;
        margin-right: -50px;
      }
    }
  }

}
