.maintenance-page {
	background: #e6e6e6;
}
.maintenance-page #page {
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0 0 0;
	text-align: center;
}
.maintenance-page #header {
	overflow: hidden;
}
.maintenance-page #logo {
	float: none;
	margin: 0 0 10px;
	width: 100% !important;
}
.maintenance-page #name-and-slogan {
	float: none;
}
.maintenance-page #container {
	padding: 40px 0 0 0;
}
