/* page title */
.main-title {
	background: $color-grey-lighter;
	.container {
		padding-top: 20px;
		padding-bottom: 20px;
		position: relative;
		h1 {
			margin-bottom: 0;
			text-transform: uppercase;
			float: left;
		}
	}
}
