/* COLORS */
$black: #000;
$dark: #333;
$darker: #222;
$dark-gray: #444;
$dark-gray-2: #292929;
$dim-grey: #252525;
$white: #fff;
$grey: #999;
$light-gray: #dedede;
$light-gray-2: #f0f0f0;
$light-gray-3: #e8e8e8;
$light-gray-4: #ccc;
$light-gray-5: #f8f8f8;
$light-gray-6: #eee;
$vivid-red: #db1c2f;
$red: #b41a25;

/* skins */
$dark-blue: #08526d;
$dark-blue-2: #4c5a60;
$light-blue: #7d8c93;
$light-blue-2: #8b999f;
$light-blue-3: #cbd2d5;
$light-blue-4: #718087;
$light-blue-5: #616e73;
$light-blue-6: #a8b5b9;
$light-red: #e5251e;

/* blue */
$blue: #1ca8dd;
$dark-blue-3: #1aa0d3;
$light-blue-7: #c6f2f9;
$light-blue-8: #1592c2;
$light-blue-9: #1ca8dd;
$light-blue-10: #0c81ae;
$light-blue-11: #1695c6;


/* orange */
$orange: #ff6a00;
$dark-orange: #7d3400;
$light-orange: #e1692c;
$light-orange-2: #ec7031;
$light-orange-3: #fff2eb;
$light-orange-4: #f6772c;
$light-orange-5: #c6602d;
$light-orange-6: #f68245;
$light-orange-7: #d4c9c4;
$light-orange-8: #8e4e21;

$pink: #b34664;



/* font size */
$fontsize-11: 0.785em;
$fontsize-12: 0.875em;
$fontsize-14: 1em;
$fontsize-16: 1.142em;
$fontsize-18: 1.285em;
$fontsize-20: 1.428em;
$fontsize-24: 1.71em;
$fontsize-40: 2.857em;

